@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

    /* nav_bar start */

.nav_bar{
  display: flex;
  list-style: none;
  gap: 25px;
  font-family:Cantarell,sans-serif;
  color:white;   
  align-items: center;
}
.responsive_nav{
  display: none;
  outline: none;
  border: none;
}
.color_a{
  color: white;
}

.color_b{
  color: white;
}
a {
  text-decoration: none;
}
    /* nav_bar end*/
li{
  list-style: none;
}

.search_hide{
  display: none;
}
.search_hide2{
  display: block;
}
#search_hide_btn{
  display: none;
}
.search_header{
  display: flex;
  border: 1px solid rgb(184, 172, 172);
  border-radius: 15px;
}
.search_header input{
  outline: none;
  border: none;
  border-radius: 15px 0 0 15px;
  width: 380px;
  height: 40px;
  padding-left: 10px;
}

.submit_btn1{
  height: 40px;
  border-radius: 0 15px 15px 0;
  outline: none;
  border: none;
  background-color: white;
  width: 50px;
  cursor: pointer;
}


      /* sticky header start */

.sticky {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}
.nav_bar_sticky{
  color: black;
}

.main_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

    /* sticky header end */

/* Mobile Nav Start */
.mobile_nav{
  width: 100px;
  height: 240px;
  background-color: rgba(242, 242, 242, 0.826);
  position: absolute;
  right: 10px;
  top: 42px;
  display: none;
  border-radius: 5px;
}
.mobile_nav li {
  padding: 10px;
  text-align: center;
}
.mobile_nav a{
  color: black;
}


/*dark switch css  start */
/* Round Slider Start */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Rounded sliders End*/

/*dark switch css  end */

/* Mobile Nav End */

/* header end */

/* Head Color Section Start */
.info_image{
  background-image: url(asset/docs-banner.jpg);
  background-size: cover;
  width: 100%;

}
.info_color{
  background: rgba(19, 0, 192, 0.712);
}

.next_header_info h1{
    font-family:Cantarell,sans-serif ;
    font-size: 44px;
    padding: 70px 0 20px 0;
    color: white;
    font-weight: bold;
}
.next_header_info p{
    color: white;
    font-family:Cantarell,sans-serif ;
    font-size: 22px;
    padding-bottom: 20px;
}
.next_header_info input{
    width: 30%;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    outline: none;
    
}

/* First Section Start */
.next_header_info{
  text-align: center;
}
.input_form{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  font-size: 18px;
}

.input_form input {
  display: block;
  padding: 20px;
  font-size: 20px;
}
.submit_btn{
  height: 50px;
  border-radius: 0 15px 15px 0;
  outline: none;
  border: none;
  background-color: white;
  width: 50px;
  cursor: pointer;
}

/* First Section End */

  /* Home Main Section Start Here */

.home_section .home_section_h1,.home_section_h2,.home_section_p{
  text-align: center;
  font-family: Cantarell,sans-serif ;
}
.home_section h1{
  padding: 80px 0;
}
.home_doc_section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 150px;
  margin: 0;
  gap: 20px;
}
.home_item{
  border-radius: 5px;
  width: 300px;
  min-height: 250px;
  margin: 10px;
  padding: 40px 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition-duration:0.4s ;
}
.home_item:hover{
  box-shadow: #5848d144 10px -10px 0px -3px;
}
.home_item p{
  padding-top: 40px;
}

  /* home doc docker div section end */

/* faq start */
.faq_section{
  margin-bottom: 100px;
}
.faq_section h1{
  text-align: center;
  padding: 100px 0 80px 0;
  font-family: Cantarell,sans-serif ;
}
.faq_show{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #7CB0D2;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.5s ease-out;
}
  
.active, .collapsible:hover {
  background-color: #7CB0D2;
  transition: 0.9;
  color: white;
  transform: scale(1.02);
  transition: all 0.5s ease-out; 
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transform: scale(1.02);
  transition: all 0.5s ease-out;
}

  /* faq end */

/* Newsletter Start */
.subscribe{
  width: 70vw;
  
  height: 200px;
  background-color: #2196F3;
  margin: auto;
  position: relative;
  border-radius: 50px;
  margin-bottom: -100px;
  display: flex;
  justify-content: space-between;
}
.subscribe h1{
  font-family: Cantarell,sans-serif ;
  color: white;
}
.subscribe p{
  font-family: Cantarell,sans-serif ;
  color: white;
}

.subscribe .sub_info{
  margin: auto;
  width: 40%;
  text-align: center;
}
.subscribe .subs_input{
  margin: auto;
  width: 60%;
  text-align: center;
}
.subs_input{
  display: flex;
}
.subs_input input{
  height: 40px;
  width: 70%;
border-radius: 15px 0 0 15px;
outline: none;
border: none;
font-size: 18px;
padding-left: 20px;
}
.subs_input button{
  padding: 10px;
  height: 40px;
  border: 1px solid white;
  background-color: #2196F3;
  color: white;
  border-radius: 0 15px 15px 0;
  font-family: Cantarell,sans-serif ;
  cursor: pointer;
}
.subs_input button:hover{
  background-color: #f9f9f9;
  color:#2196F3;
}
/* Newsletter End */

/* Footer Start */

.footer_main{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: black;
  flex-wrap: wrap;
}
.footer_col{
  padding: 100px 0 0 20px;
}
.footer_main h2{
  text-align: left;
  color: white;
  font-family: Cantarell,sans-serif ;
}
.footer_main ul li{
  list-style: none;
  margin: 15px 0;
  color: white;
  text-align: left;
  font-family: Cantarell,sans-serif ;
}
.footer_col p{
  padding-top: 20px;
  color: white;
  font-family: Cantarell,sans-serif ;
}
.footer_main ul li:hover{
  color: #367BF0;
}
/* Footer End */


/* Blog Start */

.blog_title{
  padding: 50px 0 0 0;
  text-align: center;
  font-family: Cantarell,sans-serif;
}
.all_blogs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
.singal_block{
  width: 45%;
  padding: 25px 50px;
}
.singal_block img{
  width: 100%;
  border-radius: 5px;
}
.blog_info{
  width: 99%;
  font-family: Cantarell,sans-serif;
}
.blog_h4{
  color: #2196F3;
  padding:5px 0 10px 0;
}
.blog_h2{
  padding-bottom: 10px;
}
.blog_p{
  padding-bottom: 30px;
}
.blog_read_more{
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.blog_read_more:hover{
  font-weight: bolder;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border: 1px solid rgba(123, 117, 117, 0.401);
}
.load_more{
  text-align: center;
  padding:10px 0 50px 0;
}
.blog_load{
  font-family: Cantarell,sans-serif;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #2195f3b9;
  color: white;
  cursor: pointer;
}
.blog_load:hover{
  box-shadow: rgba(44, 44, 174, 0.1) 0px 8px 24px, rgba(87, 87, 216, 0.1) 0px 16px 56px, rgba(22, 22, 165, 0.1) 0px 24px 80px;
  font-weight: bolder;
  background-color: white;
  color: black;
  
}
/* Blog End */

/* About Start */
.about_main{
  font-family: Cantarell,sans-serif;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.divider{
  height: 5px;
  width: 100px;
  background-color: #2196F3;
  border-radius: 10px;
  margin: auto;
  
}
.our_moto{
  padding-top: 20px;
}
.blog_h2{
  padding: 20px 0;
}
.blog_h3{
  padding: 10px 0;
}
.about_main ul{
  padding: 0 0 0 40px ;
}
.about_main ul li{
  list-style-type: disc;
  color: #2196F3;
  font-size: 24px;
  
}
.about_main ul li p{
  font-size: 16px;
  color: black;
  padding: 15px 0;
}

/* About End */

/* Forum Start */
.forum_all{
  width: 90%;
  display: flex;
  margin: auto;
  font-family:  Cantarell,sans-serif;
  padding-bottom: 100px;
  justify-content: space-evenly;
  padding-top: 50px;
}
.forum_q{
  width: 75%;
}
.forum_user{
  width: 20%;
}
.qution_icon i{
  font-size: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.forum_topic{
  background-color: #2195f383;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
hr{
  margin-bottom: 10px;
}
.singal_user{
  background-color: #2195f364;
  border-radius: 5px;
  width: 100%;
  padding: 20px 0;
}
.user_info img{
  width: 50px;
  height: 50px;
}
.user_img{
  width: 50px;
  background-color: rebeccapurple;
  border-radius: 100%;
}
.user_data{
  padding-left: 10px;
}
.user_data h4, h5, p{
  padding: 2px;
}
.user_info{
  display: flex;
  align-items: center;
  padding: 0 0 20px 20px;
  cursor: pointer;
}
.forum_topic:hover{
  box-shadow: rgba(44, 44, 174, 0.1) 0px 8px 24px, rgba(87, 87, 216, 0.1) 0px 16px 56px, rgba(22, 22, 165, 0.1) 0px 24px 80px;
}

/* Forum End */

/* Contact Start */
.contact_main{
  padding-bottom: 100px;
}
.social_con{
  margin: auto;
  width: 25%;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;

}
.social_con i {
  font-size: 24px;
  height: 10%;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 0 10px;

  cursor: pointer;
}.social_con i:hover{
  color: #2196F3;
}
.our_contact{
  padding-top: 50px;
  padding-bottom: 20px;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
.singl_c{
  display: flex;
}
.our_contact i {
padding-right: 10px;
color: #2196F3;
}
.submit_fead{
  padding: 50px 0 20px 0;
  margin: auto;
  text-align: center;
}
.user_submit form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}
textarea{
  margin-bottom: 20px;
  width: 100%;
}
.user_submit form input{
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
}
.user_submit form button{
  width: 100px;
  font-family: Cantarell,sans-serif;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #2195f3b9;
    color: white;
    cursor: pointer;
}
.user_submit form button:hover{
  box-shadow: rgba(44, 44, 174, 0.1) 0px 8px 24px, rgba(87, 87, 216, 0.1) 0px 16px 56px, rgba(22, 22, 165, 0.1) 0px 24px 80px;
  font-weight: bolder;
  background-color: white;
  color: black;
}
/* Contact End */
/* responsive */

/* Screen 1640px Start */

@media screen and (min-width: 1640px) {

    .subscribe{
      width: 50vw;
    }
    
}

/* Screen 1640px End */

@media screen and (max-width: 1600px) {
  .forum_all{
    width: 90%;

  }
  .forum_q{
    width: 60%;
  }
  .forum_user{
    width: 30%;
  }
  .our_contact{
    flex-direction: column;
  }
}

/* Screen 1200px Start */

@media screen and (max-width: 1200px){
  .main_header{
    padding: 0;
  }
  .forum_all{
    width: 90%;

  }
  .forum_q{
    width: 60%;
  }
  .forum_user{
    width: 30%;
  }
}

/* Screen 1200px End */

/* Screen 1024px Start */

@media screen and (max-width: 1024px) {
  .main_header{
    padding: 0 20px;
  }
  .home_doc_section {
    padding: 0px 50px;
  }
  .nav_bar_sticky{
    display: none;
  }
  .responsive_navs{
    display: block;
    cursor: pointer;
  }
  .subscribe{

    display: flex;
    flex-direction: column;

  }
  .input_form input{
    font-size: 18px;
    width: 300px;
  }
  .subscribe .subs_input input{
    font-size: 16px;
    padding-left: 10px;
  }
  .footer_col{
    width: 33%;
  }
  .singal_block{
    width: 90%;
    padding: 25px 50px;
  }
}

/* Screen 1024px End */
@media screen and (max-width: 850px){

  .forum_all{
    flex-direction: column;
    width: 100%;

  }
  .forum_q{
    width: 90%;
    margin: auto;
  }
  .forum_user{
    width: 70%;
    margin: auto;
  }
}
/* Screen 600px Start */

@media screen and (max-width: 600px) {

  .search_hide2{
    width: 50%;
  }
  .nav_bar{
    display: none;
  }
  .responsive_nav{
    display: block;
    
  }
  .home_doc_section{
    padding: 0px 50px;
    margin: 0;
  }
  .input_form input{
    font-size: 16px;
    width: 300px;
  }
  .subscribe .subs_input{
    margin: auto;
    width: 70%;
    
  }
  .subscribe .subs_input input{
    font-size: 14px;
    padding-left: 10px;
  }
  .footer_col{
    width: 33%;
  }
  .singal_block{
    width: 90%;
    padding: 10px 10px;
  }
 .forum_topic{
  height: 200px;
 }
.forum_user{
  width: 90%;
}
.user_submit form{
  
  width: 80%;
 
}
}

/* Screen 600px END */

/* Screen 430px Start */

@media screen and (max-width: 430px) {
  
  .input_form input{
    font-size: 14px;
    width: 200px;
  }
  .home_doc_section{
    padding: 0px 50px;
    margin: 0;
  }
  .search_hide2{
    display: none
  }
  .main_header{
    justify-content: space-between;
    padding: 0 10px;
    
  }
  .submit_btn2{
  height: 40px;
  border-radius: 0 15px 15px 0;
  outline: none;
  border: none;
  background-color: white;
  width: 50px;
}
  #search_hide_btn{
    display: block;
  }
  .responsive_nav_btn{
    display: flex;
    gap: 10px;
  }
  .submit_btn3{
    background-color: #ffffff00;
    color: white;
    border: none;
    height: 25px;
  }

  .subscribe{
    display: flex;
    flex-direction: column;
  }
  .subscribe h1{
    font-family: Cantarell,sans-serif ;
    color: white;
    font-size: 24px;
  }
  .subscribe p{
    font-family: Cantarell,sans-serif ;
    color: white;
    font-size: 14px;
  }

  .subscribe .sub_info{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 14px;
  }
  .subscribe .subs_input{
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 14px;
  }
  .subscribe .subs_input input{
    font-size: 14px;
    padding-left: 2px;
  }
  .footer_col{
    width: 50%;
  }
}
/* Screen 430px End */